.navbar h1{font-family: 'Lobster', cursive;}
.navbar a{font-family: 'Raleway', sans-serif;}
/*h1{font-size: 50px;}*/
h1, h2, h3{font-family: 'Raleway', sans-serif;}
a{color: #f3cb56;}
a:hover{color: #c1b180; text-decoration: none;}
p{font-family: 'Raleway', sans-serif;}

.white{color: #ffffff;}
.mt-6 {
    margin-top: 6rem!important;
}
.fs-24{
    font-size: 24px;
}

.gallery-item{
    border: 1px solid;
    padding: 15px;
}

.type-wrap {
    margin: 10px auto;
    padding: 20px;
    background: #f0f0f0;
    border-radius: 5px;
    border: #CCC 1px solid;
}

.capture img{
	filter: sepia(50%);
	border-radius: 6px;
}

.capture{
	display: none;
	position: relative;
}

.capture-button{
	width: 100%;
    background-color: #fff;
    text-align: center;
    border: 1px solid;
    line-height: 1.5em;
    border-radius: 4px;
}

.capture-button h2{
	line-height: 2em;
}

.portfolio-item{
    cursor: pointer;
}

.me-pic{
    border-radius: 50%;
}

/*Portfolio*/

.project-title{
    color: #ffffff;
}

.content{
    position: relative;
    overflow: hidden;
}

.overlay{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: rgba(1,1,1,0.8);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.overlay .project-title{
    /*font-size: 20px;*/
    font-weight: bold;
}

.content:hover .overlay{
    top: 0;
}

.content .overlay.active{
    top: 0;
}

.modal-header{
    border: none;s
}

.btn.btn-gold{
    color: #ffffff;
    /*background-color: #f3cb56;*/
    /*border-color: #f3cb56;*/
}

/*.btn.btn-gold:hover{
    background-color: #f3d67f;
    border-color: #f3d67f;
}*/

.btn-gold {
    background: linear-gradient(251deg, #7bc95c, #f3cb56, #f66548);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.photo-show{
    width: 70%;
    margin: 0 auto;
}

.photo-show img{
    width: 100%;
}

.slick-prev:before {
  color: #ccc !important;
}
.slick-next:before {
  color: #ccc !important;
}


@media (min-width: 576px) {
    .content{
        height: 250px;
    }
}
