body {
  margin: 0; }

#sec-1-1, #sec-1-2, #sec-1-3, #sec-1-4 {
  display: none; }

.nav {
  left: 90%;
  position: fixed;
  background-color: #9ba39b;
  width: 10vw;
  height: 100vh;
  z-index: 20; }
  .nav #fullnav {
    right: initial;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; }

div[class^="nube"] {
  z-index: 2;
  cursor: pointer; }

path[class*="path-nube"] {
  fill: #fff; }

.bluesky {
  background-color: #84C4F4;
  height: 800px;
  width: 90vw;
  overflow: hidden;
  position: relative; }

.ev {
  font-family: "Space Mono", monospace;
  font-size: 1.5em; }

#logo {
  left: 40%;
  margin-top: 2%; }

#sun {
  left: 65%;
  width: 10%;
  margin-top: -15%; }

#menuicon {
  left: 1%;
  top: 2%;
  width: 5%;
  z-index: 8; }

.responsive-svg, .nubeuno, .nubedos, .nubetres, .nubecuatro, .nubecinco {
  right: 120%;
  position: relative;
  width: 22%; }
  .responsive-svg responsive-svg_image, .nubeuno responsive-svg_image, .nubedos responsive-svg_image, .nubetres responsive-svg_image, .nubecuatro responsive-svg_image, .nubecinco responsive-svg_image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .responsive-svg .thumb-overlay, .nubeuno .thumb-overlay, .nubedos .thumb-overlay, .nubetres .thumb-overlay, .nubecuatro .thumb-overlay, .nubecinco .thumb-overlay {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 6; }
    .responsive-svg .thumb-overlay strong, .nubeuno .thumb-overlay strong, .nubedos .thumb-overlay strong, .nubetres .thumb-overlay strong, .nubecuatro .thumb-overlay strong, .nubecinco .thumb-overlay strong {
      display: block;
      margin: auto;
      margin-top: 20%;
      font-family: "Space Mono", monospace;
      font-weight: 400;
      font-size: 1em;
      text-transform: uppercase;
      color: #9BA39B; }
  .responsive-svg .thumb-overlay.active, .nubeuno .thumb-overlay.active, .nubedos .thumb-overlay.active, .nubetres .thumb-overlay.active, .nubecuatro .thumb-overlay.active, .nubecinco .thumb-overlay.active {
    display: block; }

.nubecinco {
  width: 30%; }

#menuicon {
  cursor: pointer; }

.nubeuno {
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
  animation: moveclouds 45s linear infinite;
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  animation-delay: 15s;
  margin-top: -5%;
  position: relative; }
  .nubeuno .thumb-overlay strong {
    width: 35%; }

.nubedos {
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite;
  animation: moveclouds 40s linear infinite;
  margin-top: -1%; }
  .nubedos .thumb-overlay strong {
    margin-top: 30%;
    width: 29%; }

.nubetres {
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
  animation: moveclouds 45s linear infinite;
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s;
  margin-top: -4%; }
  .nubetres .thumb-overlay strong {
    margin-top: 35%;
    width: 20%; }

.nubecuatro {
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
  animation: moveclouds 45s linear infinite;
  -webkit-animation-delay: 45s;
  -moz-animation-delay: 45s;
  animation-delay: 45s;
  margin-top: -5%; }
  .nubecuatro .thumb-overlay strong {
    margin-top: 22%;
    width: 30%; }

.nubecinco {
  -webkit-animation: moveclouds 38s linear infinite;
  -moz-animation: moveclouds 38s linear infinite;
  -o-animation: moveclouds 38s linear infinite;
  animation: moveclouds 38s linear infinite;
  margin-top: -2%; }
  .nubecinco .thumb-overlay strong {
    margin-top: 18%;
    width: 20%; }

.nubeuno.menu {
  left: 13%; }

.nubedos.menu {
  left: 68%; }

.nubetres.menu {
  left: 5%; }

.nubecuatro.menu {
  left: 65%; }

.nubecinco.menu {
  left: 25%; }

.extension {
  background-color: #84C4F4;
  height: 100%;
  width: 90vw; }

#volcano {
  left: 60%;
  position: relative;
  width: 25%;
  margin-bottom: -21.5%;
  z-index: 1; }

#visualiza {
  position: relative;
  width: 22%;
  left: 33%;
  margin-bottom: -23%; }

#house {
  margin-bottom: -14%;
  margin-left: 5%;
  position: relative;
  right: initial;
  width: 50%;
  z-index: 2; }

#tomato {
  margin-bottom: -20%;
  width: 22%;
  position: relative;
  left: 45%;
  z-index: 5; }

/* Generated with Bounce.js. Edit at http://goo.gl/UpabUw */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1); }
  1.4% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 29.537, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 29.537, 0, 0, 1); }
  2.8% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.674, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.674, 0, 0, 1); }
  4.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.104, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.104, 0, 0, 1); }
  5.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.013, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.013, 0, 0, 1); }
  8.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.56, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.56, 0, 0, 1); }
  10.01% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.266, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.266, 0, 0, 1); }
  11.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.871, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.871, 0, 0, 1); }
  17.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.482, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.482, 0, 0, 1); }
  23.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.897, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.897, 0, 0, 1); }
  29.73% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.324, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.324, 0, 0, 1); }
  35.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.117, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.117, 0, 0, 1); }
  41.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.042, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.042, 0, 0, 1); }
  47.95% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.015, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.015, 0, 0, 1); }
  53.95% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1); }
  60.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1); }
  66.17% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  72.17% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.39% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes animation {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1); }
  1.4% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 29.537, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 29.537, 0, 0, 1); }
  2.8% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.674, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.674, 0, 0, 1); }
  4.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.104, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -14.104, 0, 0, 1); }
  5.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.013, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.013, 0, 0, 1); }
  8.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.56, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.56, 0, 0, 1); }
  10.01% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.266, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.266, 0, 0, 1); }
  11.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.871, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 6.871, 0, 0, 1); }
  17.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.482, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.482, 0, 0, 1); }
  23.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.897, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.897, 0, 0, 1); }
  29.73% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.324, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.324, 0, 0, 1); }
  35.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.117, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.117, 0, 0, 1); }
  41.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.042, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.042, 0, 0, 1); }
  47.95% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.015, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.015, 0, 0, 1); }
  53.95% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.006, 0, 0, 1); }
  60.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1); }
  66.17% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
  72.17% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.39% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@-webkit-keyframes moveclouds {
  0% {
    left: -20%; }
  100% {
    left: 120%; } }
@-moz-keyframes moveclouds {
  0% {
    left: -20%; }
  100% {
    left: 120%; } }
@-o-keyframes moveclouds {
  0% {
    left: -20%; }
  100% {
    left: 120%; } }
#original, #original-2, #original-3, #original-4, #original-5, #original-6, #original-7, #original-8, #original-9, #original-10 {
  display: none; }

path[group^=plant] {
  display: none; }

.visualiza, .tomato, .helado, .gym, .industria {
  visibility: hidden;
  opacity: 0; }

#plantitas {
  margin-top: 15%;
  margin-left: 5%;
  right: initial;
  width: 45%;
  z-index: 1; }

#camino {
  margin-top: -30%;
  margin-left: 40%;
  right: initial;
  width: 48%; }

#arbol-uno {
  margin-top: -160%;
  left: 80%;
  right: initial;
  width: 15%; }

.fence {
  width: 90vw;
  overflow: hidden;
  display: flex;
  margin-top: -2%; }

#fenceleft {
  margin-left: 0;
  right: initial;
  width: 60%; }

#fenceright {
  right: initial;
  width: 27.3%;
  left: 16%; }

#arbol-dos {
  margin-top: -15%;
  margin-left: 2%;
  right: initial;
  width: 15%; }

#helado {
  right: initial;
  width: 22%;
  position: relative;
  margin-top: -15%;
  left: 38%;
  z-index: 5; }

#icecreamtruck {
  left: 60%;
  right: initial;
  width: 35%;
  margin-top: -2%; }

#chef {
  left: 80%;
  right: initial;
  width: 10%;
  margin-top: -5%; }

#gym {
  right: initial;
  width: 22%;
  position: relative;
  top: 450%;
  left: 30%;
  z-index: 5;
  margin-top: -15%; }

#muscleman {
  left: 10%;
  right: initial;
  width: 10%;
  margin-top: -5%; }

.weights {
  display: flex;
  margin-left: 15%; }

#lilweight-one {
  right: initial;
  width: 5%; }

#lilweight-two {
  right: initial;
  width: 5%; }

#bigweight {
  right: initial;
  width: 10%;
  margin-top: -5%; }

#industria {
  right: initial;
  width: 22%;
  position: relative;
  margin-top: 5%;
  left: 60%;
  z-index: 5; }

#building {
  margin-top: -15%;
  right: initial;
  width: 50%;
  left: 40%; }

#girl {
  right: initial;
  width: 6%;
  left: 40%;
  margin-left: -2%;
  margin-top: -5%; }

#street {
  right: initial;
  width: 100%; }

.ground {
  background-color: #80e080;
  overflow: hidden;
  height: 100%;
  width: 90vw; }

.footer {
  margin-top: -1%;
  width: 90vw;
  overflow: hidden;
  position: relative;
  height: 35vw; }

.group {
  float: left;
  overflow: hidden;
  width: calc(90vw/4);
  height: 50%;
  cursor: pointer; }
  .group:hover .card {
    filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
    -o-filter: blur(2px);
    width: 150%;
    height: 150%;
    margin-top: -20%;
    margin-left: -20%;
    background-position: center center; }
  .group .card {
    transition: width 1s, height 1s, margin 1s;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden; }
  .group .content {
    text-align: center;
    position: relative;
    top: -90%;
    font-family: "Space Mono", monospace;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 1em; }

#one {
  background-image: url("/animation/assets/img/vectorialimage.png"); }

#two {
  background-image: url("/animation/assets/img/cleandesign.png"); }

#three {
  background-image: url("/animation/assets/img/clean.png"); }

#four {
  background-image: url("/animation/assets/img/professional.png"); }

#five {
  background-image: url("/animation/assets/img/agile.png"); }

#six {
  background-image: url("/animation/assets/img/lightweight.png"); }

#seven {
  background-image: url("/animation/assets/img/cases.png"); }

#eight {
  background-image: url("/animation/assets/img/aworld.png"); }

#uno {
  color: #af7f58; }

#dos {
  color: #1e2c4c; }

#cuatro {
  color: #fff; }

#cinco {
  color: #071d3d; }

#seis {
  color: #8da08d; }

#siete {
  color: #3c423c; }

#ocho {
  color: #8da08d; }

.subfooter {
  width: 90vw;
  position: relative;
  height: 20vw;
  background-color: #858c7c; }
  .subfooter .section {
    width: calc(100%/3);
    height: 100%;
    float: left;
    position: relative; }
    .subfooter .section svg {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 30%;
      width: 30%; }

.copyright {
  text-align: center;
  width: 90vw;
  height: 5vw;
  font-family: "Space Mono", monospace;
  font-size: 1.5em;
  background-color: #858c7c; }
  .copyright p {
    margin: 0; }

.dialog__action:hover, .dialog__action:focus {
  outline: 0;
  transform: translateY(-5px);
  transition: all 100ms ease-in;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4); }

.dialog__action:active {
  transform: translateY(-3px); }

.dialog {
  background: #f1f1f1;
  width: 70%;
  position: fixed;
  left: calc(50% - 35%);
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  border: 3px solid #333333;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transition: all 180ms ease-in; }
  .dialog.dialog--active {
    margin-top: 2%;
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-out; }
  .dialog .dialog__close {
    font-size: 1vw;
    line-height: 1vw;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 15px;
    transition: color 150ms ease; }
    .dialog .dialog__close:hover {
      color: #E74C3C; }
  .dialog .dialog__title {
    font-size: 3vw;
    font-family: "Space Mono", monospace;
    font-weight: 100;
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #333333; }
  .dialog .dialog__content {
    font-size: 1.5vw;
    line-height: 1.5vw; }
  .dialog .dialog__action {
    margin: 0;
    font-size: 1vw; }

/* Small only */
@media screen and (max-width: 640px) {
  .nav {
    display: none; }

  .bluesky {
    width: 100vw;
    height: 110vh; }

  #menuicon {
    width: 15%;
    left: 5%; }

  .nubedos, .nubetres {
    width: 40%; }
    .nubedos .thumb-overlay strong, .nubetres .thumb-overlay strong {
      font-size: 3vw;
      margin-left: 30%; }

  .nubecuatro, .nubecinco {
    width: 60%; }
    .nubecuatro .thumb-overlay strong, .nubecinco .thumb-overlay strong {
      font-size: 3vw;
      margin-left: 30%; }

  .nubeuno {
    margin-top: -10%;
    width: 40%; }
    .nubeuno .thumb-overlay strong {
      font-size: 3vw;
      margin-left: 20%; }

  .responsive-svg {
    width: 50%; }

  .nubeuno.menu {
    left: 20%; }

  .nubedos.menu {
    left: 50%; }

  .nubetres.menu {
    left: 2%; }

  .nubecuatro.menu {
    left: 50%; }

  .nubecinco.menu {
    left: 5%; }

  #logo {
    left: 20%;
    margin-top: 2%; }

  #sun {
    width: 30%; }

  .dialog {
    width: 70vw;
    margin-left: -15%;
    margin-top: 0%;
    z-index: 15; }
    .dialog .dialog__title {
      font-size: 4vw; }
    .dialog .dialog__content {
      font-size: 4vw;
      line-height: 4vw; }
    .dialog .dialog__action {
      font-size: 3vw; }
    .dialog .dialog__close {
      font-size: 3vw; }

  .extension {
    width: 100vw; }

  .ground {
    width: 100vw; }

  .footer {
    width: 100vw;
    height: 500px;
    margin-top: -2%; }

  .subfooter {
    width: 100vw; }
    .subfooter .section svg {
      height: 50%;
      width: 50%; }

  .copyright {
    width: 100vw;
    font-size: 3vw;
    overflow: hidden; }

  .group {
    width: calc(100vw/2);
    height: calc(100%/4); }
    .group .content {
      font-size: 3vw;
      padding: 3px; }

  #visualiza {
    width: 40%;
    margin-bottom: -25%;
    z-index: 2; }

  #volcano {
    margin-bottom: -36.5%;
    width: 50%;
    left: 50%; }

  #house {
    margin-bottom: -40%;
    width: 70%; }

  #tomato {
    margin-bottom: -12%;
    width: 40%;
    left: 40%; }

  #arbol-uno {
    width: 30%;
    margin-top: -250%; }

  .fence {
    width: 150vw;
    margin-left: -21%; }

  #arbol-dos {
    width: 30%;
    margin-top: -30%; }

  #helado {
    width: 40%;
    left: 30%;
    margin-top: -40%; }

  #icecreamtruck {
    width: 50%;
    margin-top: -15%; }

  #chef {
    width: 20%;
    margin-top: -5%; }

  #muscleman {
    width: 20%;
    margin-top: -15%; }

  .weights {
    width: 200%; }

  #plantitas {
    width: 70%; }

  #camino {
    width: 70%;
    margin-top: -40%; }

  #gym {
    width: 42%;
    margin-top: -60%; }

  #industria {
    width: 42%;
    left: 55%;
    margin-top: 40%; }

  #building {
    width: 100%;
    left: 0%;
    margin-top: -40%; }

  #girl {
    width: 14%; }

  #street {
    width: 150%; } }
